<div class="header-container">
  <header>
    <div class = "logo">
      <i class="fas fa-rocket fa-2x"></i>
      <div class = "logo-title">
        <span>RocketChat</span>
      </div>
    </div>
    <div class="menu-list">
      <button mat-button class = "login-button">Login</button>
    </div>
  </header>
  <!-- <div class = "header">
    <div class = "logo">
      <i class="fas fa-rocket fa-2x"></i>
      <div class = "logo-title">
        <span>RocketChat</span>
      </div>
    </div>
    <div class="menu-list">
      <button mat-button class = "login-button">Login</button>
    </div>
  </div> -->
</div>