.container{
    max-width: 1140px; 
    margin: auto;
    position: relative;
    height: 100%;
    padding: 10px;
}
.top-section{
    padding-top: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: table;
}
.description-container{
    max-width: 500px;
    display: table-cell;
    vertical-align: middle
}
.title-text{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
}
.description-img{
    width: 100%;
    height: auto;
}
.image-container{
    display: table-cell;
    vertical-align: middle
}
.login-btn{
    padding-top: 30px;
}
