/* .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.blue button{
    background-color: #0007AA;
}
.padding-top-20{
    padding-top: 20px;
} */

.container{
    padding-top: 300px;
    background: #b7b7b7;
    height: 100vh;
}