.background{
    background: #b7b7b7;
    height: 100%;
}
.form-fields{
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.center{
    text-align: center;
}
form{
    max-width: 400px;
    padding: 30px;
    border: solid;
}
